.stories {
  display: flex;

  .stories-user-profile {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    overflow: hidden;
    border-radius: 70%;
    object-fit: cover;
  }

  .stories-user-profile img {
    width: 100%;
  }

  .stories-username-and-time {
    width: 180px;
    margin-left: 15px;
  }

  .stories-username {
    color: black;
    font-family: sans-serif;
    font-weight: 600;
  }

  .stories-time {
    color: rgb(148, 148, 148);
    font-family: sans-serif;
    font-weight: 350;
  }
}
