@import '../../../styles/minji/mixin.scss';

* {
  box-shadow: border-box;
  margin: 0;
}

.page-login {
  @include componentSize('', 100vh);

  .main-inner {
    @include componentSize('', 100%);
    background-color: #f1f3f5;
    @include flexSort('', center, center);
  }

  .inner {
    @include flexSort(column, space-around, center);
    @include componentSize(350px, 380px);
    padding: 10px 40px;
    box-sizing: border-box;
    background: white;
    border: 1px solid #dbdbdb;
  }

  .disableBtn {
    background-color: skyblue;
    border-radius: 3px;
    @include componentSize(100%, 30px);
    border: none;
  }

  .ableBtn {
    background-color: #0e84d2;
    border-radius: 3px;
    @include componentSize(100%, 30px);
    border: none;
  }

  .logintext {
    color: white;
  }

  .inputBox {
    display: block;
    @include componentSize(270px, 20px);
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    border: 1px solid #dbdbdb;
    opacity: 0.6;
    border-radius: 3px;
    margin-bottom: 15px;
  }

  #id,
  #psword {
    border: none;
    width: 100%;
  }

  input:focus {
    outline: none;
  }

  .forget {
    font-size: small;
  }

  .link {
    text-decoration-line: none;
  }

  /*구글 폰트 적용*/
  @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
  .lobster {
    font-family: 'Lobster', cursive;
    font-size: xx-large;
  }

  .chat {
    list-style-type: none;
    padding-left: 0;
  }
}
