@import '../../../styles/minji/mixin.scss';
/*구글 폰트 적용*/
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
.lobster {
  font-family: 'Lobster', cursive;
  font-size: xx-large;
}

.page-main {
  .body-bottom {
    @include flexSort(row, center, center);
    margin-top: 40px;
  }

  .p-bold {
    font-weight: 900;
    margin-right: 10px;
  }

  .gray-word {
    color: gray;
  }

  .addMainComent {
    color: gray;
    @include componentSize(70px, 37px);
  }

  .bord-word {
    font-weight: bold;
  }

  .navbar {
    @include flexSort(row, space-between, center);
    @include componentSize('', 50px);
  }

  .navbar-left {
    @include componentSize(33%, '');
    @include flexSort('', center, center);
  }

  .navbar-middle {
    @include componentSize(220px, 27px);
    @include flexSort(row, center, center);
    z-index: 1;
    opacity: 1;
  }

  #input_search {
    @include componentSize(400px, 20px);
    display: block;
    padding: 8px;
    border: 1px solid #dbdbdb;
    opacity: 0.9;
    border-radius: 3px;
    margin-bottom: 5px;
    background-image: url(https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-256.png);
    background-size: contain;
    background-position: 70px;
    background-repeat: no-repeat;
    text-align: center;
  }

  .navbar-right {
    @include componentSize(33%, '');
    @include flexSort('', flex-end, center);
  }

  /*****이미지 css 적용*****/

  img {
    width: 30px;
    height: 30px;
  }

  .logo {
    @include componentSize(30px, 30px);
    margin-right: 10px;
  }

  .imgicons {
    margin-right: 20px;
  }

  .userimg {
    border-radius: 50%;
    margin-right: 5px;
  }

  .logoimg {
    @include componentSize(40px, 40px);
    border-radius: 50%;
    margin-right: 10px;
  }

  .logobtn {
    border: none;
    margin-bottom: 0;
    @include componentSize('', 15px);
  }

  .likeimg {
    @include componentSize(15px, 15px);
    margin-bottom: 30px;
  }

  /*****이미지 css 적용*****/
  .main-minji {
    @include flexSort(row, center, '');
  }
  .main-main {
    @include componentSize(700px, 840px);
    margin-bottom: 20px;
  }
  .main-feeds {
    border: 1px solid #dbdbdb;
    @include componentSize(100%, 837px);
    margin-left: 2.5%;
    margin-right: 2.5%;
    @include flexSort(column, '', '');
  }

  .main-article-body,
  .feedimg {
    @include componentSize(100%, 560px);
  }

  .main-article-footer {
    @include componentSize('', 100%);
  }

  .article-inner {
    @include componentSize('', 50px);
    @include flexSort(row, '', '');
    margin: 8px;
  }

  .inner {
    @include flexSort(row, flex-start, center);
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 3px;
    font-size: medium;
  }

  .article-inner-left {
    @include componentSize(50%, '');
    @include flexSort(row, flex-start, center);
  }

  .article-inner-right {
    @include componentSize(50%, '');
    @include flexSort(row, flex-end, center);
  }

  .footer-inner {
    @include flexSort(column, flex-start, '');
    margin-left: 10px;
  }

  .article-footer-header {
    @include componentSize('', 20px);
    @include flexSort(row, '', '');
    margin-bottom: 20px;
  }

  .word {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    @include componentSize(280px, 40px);
    font-size: 15px;
  }

  .article-footer-body {
    border-bottom-color: 1px solid #dbdbdb;
    @include componentSize('', 68px);
  }

  input:focus {
    outline: none;
  }

  .chatShow {
    font-weight: normal;
  }

  .text-overflow-view {
    @include componentSize('', 70px);
  }

  /***** main-right *****/

  .main-right {
    @include componentSize(520px, 500px);
    position: sticky;
    top: 90px;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }

  .right-header {
    @include componentSize('', 50px);
  }

  .right-body {
    @include componentSize('', 250px);
    border: 1px solid #dbdbdb;
    margin-bottom: 10px;
    margin-top: 10px;
    overflow: hidden;
  }

  .right-body-top {
    @include flexSort(row, '', '');
  }

  .right-body-top-left {
    @include componentSize(50%, '');
  }

  .right-body-top-right {
    @include componentSize(50%, '');
  }

  .right-footer-top {
    @include flexSort(row, '', '');
  }

  .right-footer-top-left {
    @include componentSize(50%, '');
  }

  .right-footer-top-right {
    @include componentSize(50%, '');
  }

  .right-footer {
    @include componentSize('', 230px);
    border: 1px solid #dbdbdb;
  }

  .user-search {
    @include componentSize('', 15px);
    background-color: red;
    display: none;
  }
  .feedTime {
    margin-top: 5px;
  }
  .tag-area {
    @include componentSize('', 100px);
    .tag-li {
      float: left;
      margin-left: 4px;
      margin-right: 4px;
    }
  }
}
